@font-face {
  font-family: norse-bold;
  src: url("../fonts/Norse-Bold.otf");
}

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  color: white;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #18191B;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #596D48;
  padding: 12px;
}

header > img {
  width: 30%;
}

header > div {
  font: 100px norse-bold;
  color: white;
}

h1 {
  font-size: 20px;
  margin-bottom: 0;
  padding: 12px 25px 0;
}

p:not(:last-child) {
  color: #A0A0A0;
}

p:nth-child(2) {
  margin-bottom: 0;
}

p {
  text-align: center;
  margin: 12px 0;
  font-size: 15px;
}

form + p {
  font-size: 12px;
}

h1,
#inputs-container {
  width: 100%;
  background-color: #242527;
}

#inputs-container {
  padding: 12px 25px;
}

label {
  color: #A0A0A0;
  font-size: 12px;
}

input {
  margin: 8px 0;
  display: block;
}

:focus {
  outline: 0;
}

form > div {
  margin-bottom: 8px;
}

.visibility {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #E5E7EB;
  padding: 4px;
  background-color: #313131;
}

input:focus:valid {
  border: 1px solid green;
}

input:valid:not(:placeholder-shown):not(:focus) {
  border: 1px solid green;
  background-color: rgba(139,195,74,.2);
}

input:focus:invalid {
  border: 1px solid red;
}

input:invalid:not(:placeholder-shown):not(:focus) {
  border: 1px solid red;
  background-color: rgba(255,0,0,.2);
}

.password-weak:not(.password-weak:focus-within)::after {
  font-size: 12px;
  content: 'A senha deve conter letras maiúsculas e minúsculas, números, caracteres especiais (@ # $ ?) e deve ter no mínimo 8 caracteres';
  color: red;
}

.password-dont-match:not(.password-dont-match:focus-within)::after {
  font-size: 12px;
  content: "As senhas são incompatíveis";
  color: red;
}

button {
  margin: 12px 25px 0 25px;
  padding: 12px 0;
  background-color: #596D48;
  border: none;
  border-radius: 8px;
  width: calc(100% - 50px);
}

a {
  text-decoration: none;
  color: #596D48;
}

p, h1,
button {
  font-weight: bold;
}

em {
  font-style: italic;
}